<div style="text-align:center;">
    <p style="font-size:72px;">¯\_(ツ)_/¯</p>
    <p>Une erreur s'est produite sur le site {{ website.name }}</p>
    <p>Code d'erreur : {{ website.status }}. Plus d'infos sur cette erreur <a href="https://developer.mozilla.org/fr/docs/Web/HTTP/Status/{{website.status}}" target="_blank">ici</a>.</p>
</div>